* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

/* ================= HEADER ================= */
.header {
    width: 100%;
    height: 85px; 
    background: #3C5CA5;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px; 
}

.left-header {
    display: flex;
    align-items: center;
}

.back-icon {
    font-size: 28px;
    margin-right: 18px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.logo {
    width: 70px;   
    margin-right: 12px;
}

.school-title {
    font-size: 28px; 
    font-weight: bold;
}

.right-header {
    font-size: 28px; 
    font-weight: bold;
}

/* ================= CARD PROFIL ================= */
body {
    background: #3C5CA5;
}

.profile-container {
    width: 100%;
    height: calc(100vh - 85px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card {
    width: 450px;
    background: white;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

.title {
    font-size: 26px;
    color: #3C5CA5;
    margin-bottom: 15px;
}

.profile-photo {
    width: 95px;
    margin-bottom: 25px;
}

/* Input */
label {
    font-weight: bold;
    text-align: left;
    display: block;
    margin-bottom: 6px;
    margin-top: 12px;
}

input {
    width: 100%;
    padding: 12px;
    border: none;
    background: #C0CAE4;
    border-radius: 12px;
    margin-bottom: 15px;
    font-size: 15px;
    color: black;  
}

/* Show / hide button */
.password-wrapper {
    width: 100%;
    position: relative;
}

.toggle-text-btn {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: #233F88;
    cursor: pointer;
}

.toggle-text-btn:hover {
    text-decoration: underline;
}

/* Button Logout */
.btn-logout {
    width: 100%;
    padding: 14px;
    background: #233F88;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-logout:hover {
    opacity: 0.9;
}

.password-wrapper {
    position: relative;
}

.eye-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.7;
}

.eye-icon:hover {
    opacity: 1;
}
